
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root{
    --fonte-titulo:'Bitcount Prop Double Ink';
    --fonte-texto: 'Oswald';
    --cor-principal : #514242;
    --cor-secundaria : #000000;
    --cor-destaque :#aa1fa0;
    --cor-texto: #ffffff;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: (--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1,.caixa-perguntas, .caixa-resultados(
    font-family: var(--fonte-titulo)::after
)
h1{
    color: var(--cor--destaque)::after
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button :hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-principal{
    display: none;
}
.caixa-resultados.mostrar{
    display: block;
}
.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}